<ns-action-bar title="Current Challenge" [showBackButton]="false">
  <!-- Transclusion with ng-content -->
  <ActionItem>
    <Label text="Replace" ios.position="right" android.position="actionBar" nsRouterLink="/challenges/replace"
      transition="slideLeft"></Label>
  </ActionItem>
  <ActionItem>
    <Label text="Edit" ios.position="right" android.position="actionBar" nsRouterLink="/challenges/edit"
      transition="slideLeft"></Label>
  </ActionItem>
</ns-action-bar>
<ScrollView>
  <FlexboxLayout class="main-content page">
    <StackLayout>
      <Label
        class="h1 text-center"
        text="Take a walk everyday"
      ></Label>
      <Label
        class="body text-center"
        text="Walk for at least 20 minutes on every day of the week."
      ></Label>
  </StackLayout>
    <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
      <Label
        *ngFor="let weekDay of weekDays; let i = index"
        class="text-center week-day-label"
        width="100%"
        [text]="weekDay"
        row="0"
        [col]="i"
      ></Label>
      <FlexboxLayout
        class="day completed "
        *ngFor="let day of days; let i = index"
        [row]="getRow(i, day)"
        [col]="day.dayInWeek"
        (tap)="onChangeStatus()"
        >
          <Label [text]="day.dayInMonth"></Label>
      </FlexboxLayout>
    </GridLayout>
  </FlexboxLayout>
</ScrollView>
