<ns-action-bar title="Current Challenge" [showBackButton]="false">
  <!-- Transclusion with ng-content -->
  <ActionItem>
    <Label text="Replace" ios.position="right" android.position="actionBar" nsRouterLink="/challenges/replace"
      transition="slideLeft"></Label>
  </ActionItem>
  <ActionItem>
    <Label text="Edit" ios.position="right" android.position="actionBar" nsRouterLink="/challenges/edit"
      transition="slideLeft"></Label>
  </ActionItem>
</ns-action-bar>
<StackLayout>
  <Label class="title" text="The current challenge" horizontalAlignment="center"></Label>
  <!-- <Button text="Edit" (tap)="onEdit()"></Button>
    <Button text="Replace" nsRouterLink="/challenges/replace"></Button> -->
  <Button text="Change Status" (tap)="onChangeStatus()"></Button>
</StackLayout>
