<!-- <TabView>
  <StackLayout *tabItem="{ title: 'Today' }">
    <Label text="Tab 1"></Label>
  </StackLayout>
  <StackLayout *tabItem="{ title: 'Current Challenge' }">
    <Label text="Tab 2"></Label>
  </StackLayout>
</TabView> -->
<TabView androidTabsPosition="bottom">
  <StackLayout *tabItem="{ title: 'Today' }">
    <router-outlet name="today"></router-outlet>
  </StackLayout>
  <StackLayout *tabItem="{ title: 'Current Challenge' }">
    <router-outlet name="current-challenge"></router-outlet>
  </StackLayout>
</TabView>
