/* Add mobile styles for the component here.  */
FlexboxLayout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-section {
  margin-top: 70;
  margin-bottom: 150;
}

.btn {
  width: 80%;
  height: 40;
}

.input-field {
  margin-bottom: 20;
}
