@import '~@nativescript/theme/scss/variables/forest';

/* Import colors from custom theme */
@import './theme/colors';

/* The variables are loaded before the Core styles */
@import '~@nativescript/theme/index';

/* Fonts */
// Angular looks for file name, iOS for font name
// font file must be in scr > fonts folder
.fa {
  font-family: 'Font-Awesome'/* Android */, 'FontAwesome'/* iOS */;
}

ActionBar {
  background: $primary;
  color: white;
}

.main-content {
  margin-top: 15;
}

.drawer-container {
  background: linear-gradient(240deg, #006968, #0c8a79);
  padding-top: 50;
  flex-direction: column;
}

.btn {
  border-width: 5;
  font-size: 17;
  width: 90%;
  border-radius: 30%;
  height: 45;
  color: $white;
}

.btn-success {
  background: $success;
  border-color: $success;
  color: $white;
}

.btn-failure {
  background: $failure;
  border-color: $failure;
  color: $white;
}

.btn-flat {
  background: $white;
  color: #9c9c9c;
}

.form {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.form {

  .input-field {
    width: 80%;

    .label {
      color: $primary;
      font-weight: bold;
      // font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
    }

    .input {
      border-bottom-width: 2;
      border-bottom-color: $primary;
      color: black;
      width: 100%;
    }

    label.invalid {
      color: red;
    }

    .input.ng-invalid.ng-touched {
      border-bottom-color: red;
      color: red;
    }

  }
}

.h1 {
  color: lighten($primary, 7);
  font-weight: bold;
  // font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
}

