<ActionBar [title]="title" (loaded)="onLoadedActionBar()">
  <!-- iOS only - text="Back" -->
  <!-- Android only - android.systemIcon="ic_menu_back " -->
  <NavigationButton
    text="Back"
    android.systemIcon="ic_menu_back"
    *ngIf="canGoBack"
    (tap)="onGoBack()"
  ></NavigationButton>
  <!-- Android specific menu icon (left) -->
  <NavigationButton
    *ngIf="android && hasMenu"
    icon="res://menu_black"
    (tap)="onToggleMenu()"
  ></NavigationButton>
  <!-- iOS specific menu icon (left), Android (right) -->
  <ActionItem
    *ngIf="!android && hasMenu"
    ios.position="left"
    (tap)="onToggleMenu()"
  >
    <Label text="Menu"></Label>
  </ActionItem>
</ActionBar>
