<ActionBar [title]="title" (loaded)="onLoadedActionBar()">
  <!-- iOS only - text="Back" -->
  <!-- Android only - android.systemIcon="ic_menu_back " -->
  <NavigationButton
    text="Back"
    android.systemIcon="ic_menu_back"
    *ngIf="canGoBack"
    (tap)="onGoBack()"
  ></NavigationButton>
  <!-- Android specific menu icon (left) -->
  <!-- <NavigationButton
    *ngIf="android && hasMenu"
    icon="res://menu_black"
    (tap)="onToggleMenu()"
  ></NavigationButton> -->
  <NavigationButton
    *ngIf="android && hasMenu"
    (tap)="onToggleMenu()"
    icon="font://&#xf0c9;"
    class="fa hamburger"
  >
    <!-- <Label text="&#xf0c9;" class="fa m-5"></Label> -->
  </NavigationButton>
  <!-- iOS specific menu icon (left), Android (right) -->
  <ActionItem
    *ngIf="!android && hasMenu"
    ios.position="left"
    (tap)="onToggleMenu()"
  >
    <Label text="&#xf0c9;" class="fa m-5"></Label>
  </ActionItem>
  <!-- Transclusion -->
  <ng-content></ng-content>
</ActionBar>
